* {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
a:hover {
  text-decoration: none;
}
#about-head {
  background-color: black;
  color: white;
  padding: 50px;
  margin-bottom: 50px;
}
#about-head h1 {
  margin: 30px;
}
#about-head ul {
  margin: 30px;
  padding: 0;
}
#about-head li {
  display: inline;
  padding: 10px 5px;
}
#about-head li img {
  height: 50px;
}
#about-head #contact-p {
  font-size: 18pt;
  color: black;
}
#about-body img {
  margin: 0 auto;
}
#about-body p {
  font-size: 16pt;
  text-align: left;
}
@media (max-width: 768px) {
  #about-head {
    padding: 20px;
    margin-bottom: 5px;
  }
  #about-head h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  #about-head h4 {
    font-size: 9pt;
  }
  #about-head li {
    padding: 3px;
  }
  #about-head li img {
    height: 40px;
  }
  #about-head #contact-p {
    font-size: 12pt;
  }
  #about-body h3 {
    margin: 10px;
  }
  #about-body p {
    font-size: 12pt;
  }
}
#projects h1, #projects h3 {
  color: black;
  text-align: center;
}
#projects .project-item {
  display: inline-block;
  list-style: none;
}
#projects .project-item p, #projects .project-item small{
  color: black;
  font-size: 14pt;
  text-align: left;
}
#projects .fp-slidesNav {
  padding-bottom: 18px;
}
#projects .card {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 8px 8px 3px #444444;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
  left: 5%;
}
#projects .card p {
  padding: 15px;
}
#projects .project p {
  margin-top: 20px;
  padding: 10px;
  font-size: 16pt;
  text-align: left;
}
#projects img {
  height: 500px;
  margin: 0 auto;
}
#projects .project a img {
  height: 50px;
  margin: 10px;
}
@media (max-width: 768px) {
  #projects .card {
    height: 80px;
    width: 65%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 8px 8px 3px #444444;
    margin-bottom: 5px;
    margin-left: 5%;
  }
  #projects h3 {
    font-size: 14pt;
    margin-top: 30px;
  }
  #projects img {
    height: 100px;
  }
  #projects .project h1 {
    font-size: 24pt;
    margin: 10px;
  }
  #projects .project p {
    font-size: 11pt;
    margin: 0;
  }
  #projects .project a img {
    height: 30px;
    margin: 5px;
  }
  #projects .fp-next {
    border-width: 20px 0 20px 15px;
  }
  #projects .fp-prev {
    border-width: 20px 15px 20px 0;
  }
}
#skills {
  color: black;
}
#skills h1 {
  padding-bottom: 50px;
}
#skills h3 {
  text-align: left;
  padding-left: 40px;
}
#skills .skills-list {
  width: 300px;
  text-align: left;
}
#skills .skills-list .skill {
  display: inline-block;
  color: white;
  background-color: black;
  padding: 4px 8px;
  margin-bottom: 5px;
  border-radius: 3px;
}
#to-top {
  height: 70px;
  margin: 50px auto;
  background-color: black;
  padding: 20px;
  border-radius: 50px;
}
@media (max-width: 768px) {
  #skills h1 {
    padding-bottom: 0;
  }
  #skills h3 {
    margin: 0 0 3px 0;
  }
  #to-top {
    position: absolute;
    height: 30px;
    margin: 0 10px 0 80%;
    padding: 10px;
  }
}
#header, #footer {
  position: fixed;
  height: 40px;
  display: block;
  width: 100%;
  background: #333;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  padding: 10px 0 0 0;
}
@media (max-width: 768px) {
  #header, #footer {
    height: 25px;
    text-align: left;
    padding: 3px 0 0 0;
  }
}
#header {
  top: 0px;
}
#footer {
  bottom: 0px;
}
