a:hover {
  text-decoration: none;
}
.section {
  text-align: center;
}
#about-head {
  background-color: black;
  color: white;
  padding: 50px;
  margin-bottom: 50px;
}
#about-head h1 {
  margin: 30px;
}
#about-head ul {
  margin: 30px;
}
#about-head li {
  display: inline;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
#about-body img {
  margin: 0 auto;
}
#about-body p {
  text-align: left;
}
@media (max-width:510px) {
  #about-head {
    padding: 20px;
    margin-bottom: 10px;
  }
  #about-body h3 {
    margin: 10px;
  }
  #about-body p {
    font-size: 12pt;
  }
}
#projects h3, h4 {
  color: white;
  text-align: center;
}
#projects .project-item {
  display: inline-block;
  list-style: none;
}
#projects p {
  text-align: left;
}
#projects .fp-slidesNav {
  padding-bottom: 15px;
}
#projects .card {
  background-color: black;
  height: 250px;
  margin: 10px;
  left: 5%;
}
#projects .project p {
  margin-top: 20px;
  padding: 10px;
}
#projects .project .links {
  margin-top: 30px;
}
#projects .project a {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
@media (max-width:510px) {
  #projects .card {
    height: 100px;
    width: 70%;
    margin-bottom: 10px;
    margin-left: 5%;
  }
  #projects .fp-next {
    border-width: 20px 0 20px 15px;
  }
  #projects .fp-prev {
    border-width: 20px 15px 20px 0;
  }
}
#skills .skills-list {
  text-align: left;
}
#skills .skills-list li {
  display: inline-block;
  color: white;
  background-color: black;
  padding: 4px 8px;
  margin-bottom: 5px;
  border-radius: 3px;
}
#header, #footer {
  position: fixed;
  height: 40px;
  display: block;
  width: 100%;
  background: #333;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  padding: 10px 0 0 0;
}
@media (max-width:510px) {
  #header, #footer {
    height: 25px;
    text-align: left;
    padding: 3px 0 0 0;
  }
}
#header {
  top: 0px;
}
#footer {
  bottom: 0px;
}
